.article-title {
	font-size: 2rem;
}

.author::before {
	content: "By ";
	color: #999;
	font-weight: lighter;
}

.seperator::before {
	content: " \2022 ";
	color: #ccc;
	margin: 0 0.25em;
}

#article {
	max-width: 620px;
	.img-container {
		margin: 0 -2rem 0;
		max-height: 40vh;
		max-width: 620px;
	}
	footer {
		margin-top: 2rem;
		font-size: 0.9rem;
	}
}

@media screen and (min-width: 620px) {
	#article {
		align-self: center;
		.img-container {
			margin: 1rem 0;
			box-shadow: 0 40px 50px -30px rgba(0, 0, 0, 0.3);
		}
	}
}
