.fourohfour {
	background: #17171d;
	margin: -2.7rem -2rem 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1,
	h3 {
		font-weight: 400;
		margin: 0;
	}
	h1 {
		font-size: 4rem;
		color: #fff;
	}
	h3 {
		font-size: 2rem;
		color: #63636e;
	}
	a {
		color: #66bbff;
		margin-top: 3rem;
	}
}
